
$color1: #FFE6AF;
$color2: #FFE497;
$color3: #430002;
$color4: #220506;
$color5: black;
$color6: 00b0ff;
$silver : #a5ada2;
$green : #87e07f;
$light-silver : #e4ede3;
$cyan : #90e5cc;
$black : #000000;
$gray : 868686;



html {
  height: 100vh;
}

input {
  font-size: 20px;
  font-weight: bold;
}

.standard-div {
  background-image: linear-gradient($color1, $silver );

}

label {
}
body {
  min-height: 100vh;
}

select {
  background-color: inherit;
}


.container-image {
  height: 100vh;
  background-image: url("./../../public/img/my4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.standard-border {
  border: solid;
  border-color: $color5;
  border-radius: 6px;

}

.task-column {
  @extend .standard-div;
  margin-left: 0;
  margin-right: 0;
}

div.task-column {
  min-height: 100px !important;
  border-radius: 7px;
}

.task-element {
  @extend .standard-border;
  background: $green;
  margin: 10px;
}

.filter-buttons-container {
  @extend .standard-border;
  @extend .standard-div;
  button {
    padding: 3px;
  }
}

.filter-button-active {
  @extend .standard-border;
  background-color: $green;
}

.buttons-acions-div {
  @extend .standard-border;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}

select.popup-select {
  display: block;
}

.task-board {

  text-align: center;
  left: 50%;
}

.filter-button {
  margin: 5px;
}

.column-header {
  color: #90CAF9;

}

.task-element-appear {
  opacity: 0;
  transform: scale(0, 0);
  transition: 1s;
}

.task-element-appear {
  opacity: 0;
  transform: scale(0, 0);
  transition: 1s;
}

.task-element-appear.task-element-appear-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: 1s;
}

.task-element-action:hover {
  transition: 500ms;
  transform: scale(1, 1);
  border-color : $cyan;
  z-index: 999;
}

.dragged-item {
  background-color: $cyan;
}

.can-drop {

  background-image: linear-gradient($color1, $cyan );

}


.taskItemHeader {
  font-size: 10px;
}

.taskItemText {
  font-size: 6px;
}

.LoginForm {
  background-color: inherit;
  opacity: 1;
  .login-buttons {
    text-align: center;
  }


}

.container-small {
  width: 40% !important;
}

.no-display {
  display: none;
}

.button-group {
  text-align: center;
}

.baner {
  text-align: center;
  background-color: inherit;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  size: 20px;
  margin-bottom: 20px;


}

img.baner {
  text-align: left;
}

img.logo-small {
  width: 5%;
  height: 5%;
}

.green-modal {
  background-color: $green;
}
